@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background-color: #1f2937;
  border-color: #1f2937;
}
.btn-primary:hover {
  background-color: transparent;
  border-color: transparent;
  color: #1f2937;
}

.btn-secondary {
  background-color: transparent;
  border-color: transparent;
  color: #1f2937;
}

.btn-secondary:hover {
  background-color: #1f2937;
  border-color: #1f2937;
  color: #fff;
}